

table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

 tr td {
     width: 15px;
     height: 15px;
     border: 1px solid black;
 }

 .outsideOfGrid{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .item {
  flex-grow: <number>; /* default 0 */
}

