

table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

 tr td {
     width: 15px;
     height: 15px;
     border: 1px solid black;
 }

 .container{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   flex-wrap: wrap;
 }

h1{
  font-family: 'Londrina Sketch', cursive;
}

 .title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .outsideOfGrid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.colorSelection{
  align-self: center;
  font-family: 'Londrina Sketch', cursive;
}

.padding{
  flex-grow: 1;
}

.padding-to-the-right{
  flex-grow: 3;
}